{% load static %}


<!doctype  html>
<html  lang="en">

<head>
  <title>CodeFox</title>
  <!-- triggering an asynchronous stylesheet download
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" media="none" onload="if(media!='all')media='all'">
  <link rel="stylesheet" href="{% static 'css/all.min.css' %}" media="none" onload="if(media!='all')media='all'">
  -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
 
  <link rel="shortcut icon" type="image/png" href="{% static 'img/icon.png' %}"/>
   <!--
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
  <link  rel="stylesheet" href="{% static 'css/beyondmachines_css.css' %}">
  
  -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body class="d-flex text-center h-100 text-white bg-dark">
  <!-- Bootstrap JavaScript -->

  


      

<div class="container-fluid ">

  <div class="row justify-content-center">
    <div class="col-7 col-sm">
      {% block navbar %}
      {% endblock %}
      {% block main %}
      {% endblock %}
      {% block about %}
      {% endblock %}
      {% block footer %}
      {% endblock %}
    </div>
  </div>
</div>



</body>
</html>

