{% load static %}


<!doctype  html>
<html  lang="en">

<head>
  <title>CodeFox</title>
  <!-- triggering an asynchronous stylesheet download
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" media="none" onload="if(media!='all')media='all'">
  <link rel="stylesheet" href="{% static 'css/all.min.css' %}" media="none" onload="if(media!='all')media='all'">
  -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!--
  <link rel="shortcut icon" type="image/png" href="{% static 'images/icon/favicon.ico' %}"/>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
  <link  rel="stylesheet" href="{% static 'css/beyondmachines_css.css' %}">

  -->

  <script src="{% static 'js/jquery-2.0.0.min.js'%}" type="text/javascript"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'fonts/fontawesome/css/all.min.css' %}" type="text/css" rel="stylesheet">
  <link href="{% static 'css/ui.css' %}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" media="only screen and (max-width: 1200px)" />
  
  
</head>

<body>
  <!-- Bootstrap JavaScript -->

  <div class="container-fluid container-lg">
    <div class="row newtextverydark">
      <div class="col-12">

      </div>
    </div>
</div>

<div class="container-fluid container-lg">

  <div class="row justify-content-center">
    <div class="col-12 col-sm">
      {% block main %}
      {% endblock %}
    </div>
  </div>
</div>

{% block footer %}
{% endblock %}

</body>
</html>

