{% load static %}
<main class="px-3 mt-5">
    <p class="display-6">Understand the licenses of your code's external dependencies</p>
    <p class="lead">The customer asks at the last moment and nobody has the time to do it.</p>
    <p class="lead">Here we come in. Just enter your repository url and in few seconds your search will be over.</p>

    <hr class="warning mt-5">
    
    <p class="lead mt-5">Developed by young engineers through the BeyondMachines mentoring program.</p>
    <p>Development starts 1st November 2021.</p>
    <br>
    <p class="lead">
      <a href="https://beyondmachines.net/#getstarted" class="btn btn-lg btn-warning">Join the Program</a>
    </p>
  </main>