{% load static %}

<div class="cover-container d-flex p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand text-start" href="https://codeonion.net">
                        <img src="{% static 'img/Code_Onion_White.png'%}" alt="Codeonion_Logo" height="30">
                        CodeOnion
                    </a>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="btn custom-button btn-outline-warning text-end"target="_blank" href="https://beyondmachines.net/program/">Learn More</a>
                        </li>
                    </ul>
                </div>
              </nav>
        </div>
      </header>
  
</div>